services:
  postgres:
    image: postgres:18.1
    restart: "no"
    volumes:
      - postgres_data:/var/lib/postgresql/
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 5
    env_file: secret.env
  spring-bot:
    image: spring-bot:latest
    build:
      context: .
      args:
        DOCKER_BUILDKIT: 1
    restart: "no"
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file: secret.env
    environment:
      POSTGRES_HOST: postgres
volumes:
  postgres_data: